<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - EliteStaff Solutions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <div class="navbar">
                <div class="logo"> </div>
                <div class="nav-links">
                    <a href="{{ url_for('home') }}" class="nav-item">Home</a>
                </div>
            </div>
        </header>
        
        <main class="hero">
            <div class="content" style="text-align: justify; padding-right: 15pt;">
                <h1>About Us</h1>
                <p class="subtext">
                <p style="font-size: 1.1em;">Founded in the height of the pandemic, EliteStaff Solutions has grown from a visionary startup to a leading force in IT recruitment, driven by the mission to bridge the gap between extraordinary talent and the industry's vanguard companies.</p> 
               
                <p style="font-size: 1.1em;">We pride ourselves on fostering growth and innovation by connecting skilled professionals with careers that catalyze technological advancement and personal development.</p> 
                
                <p style="font-size: 1.1em;">Our vision is to be at the forefront of the IT recruitment landscape, continuously evolving to meet the dynamic needs of the tech world with integrity, expertise, and an unwavering commitment to excellence.</p>
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/about_image.jpg') }}" alt="Background Image" class="right-side-image">
            </div>
        </main>

        <footer>
            <p>© 2023 All Rights Reserved</p>
        </footer>
    </div>
</body>
</html>
